<section id="inner-section">

    <div class="row">
        <br>
        <div class="helloApp">
            <h1>Greetings</h1>
            {{#if messages.info}}
            <div class="error">{{messages.info}}</div>
            <div class="feedback">{{feedback}}</div>
            {{/if}}
            <form action="/greetings" method="POST">
                <div class="front">
                    <input type="text" placeholder="Enter your name" class="fname" name="fname">
                    <label class="countHere">{{greetedTimes}}</label>
                    {{!-- <span class="countHere">{{greetedTimes}}</span> --}}
                </div>
                <br>
                <label class="">
                    <input type="radio" name="itemType" class="itemTypeRadio" value="isiZulu">
                    <span class="label-body">Zulu</span>
                </label>
                <label class="">
                    <input type="radio" name="itemType" class="itemTypeRadio" value="English">
                    <span class="label-body">English</span>
                </label>
                <label class="">
                    <input type="radio" name="itemType" class="itemTypeRadio" value="Portuguese">
                    <span class="label-body">Portuguese</span>
                </label>
        </div>
        <div class="buttons">
            <button class="greetbtn" type="submit"><em>Greet Me!</em></button>
            </form>
            <form action="/reset" method="POST">
                <button class="resetBtn" type="submit"><em>Reset!</em></button>
            </form>
        </div>
        <br>
        <div class="out">
            <div>{{greetMe}}</div>
        </div>
        <br>
        <div style="width: 50%">
            <table style="background-color: silver;">
                <tr>
                    <td>
                        <a href="/greeted">Greeted Users</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</section>